/* font-family: 'Rubik', sans-serif; */


/* font-family: 'Ubuntu', sans-serif; */

html {
    scroll-behavior: smooth;
    font-family: 'Rubik';
}

body {
    background-color: #F6F6FB;
}

.navbar {
    background-color: #313133;
}

.navbar-brand h1 {
    font-family: 'Ubuntu', sans-serif;
}

#portfolio {
    padding-top: 69px;
    padding-bottom: 50px;
    background-color: #F6F6FB;
    color: #313133;
    font-family: 'Rubik';
    scroll-margin-top: 50px;
}

#portfolio h2 {
    padding-bottom: 0px;
    font-size: 70px;
}

#about {
    padding-top: 23px;
    padding-bottom: 200px;
    background-color: #F6F6FB;
    color: #313133;
    font-family: 'Rubik';
    font-size: 23px;
    scroll-margin-top: 100px;
}

#about h2 {
    font-size: 70px;
}

#about col {
    margin-bottom: 20px;
}

#about i {
    font-size: 100px;
    color: #e34b4b;
}

#contact {
    background-color: #F6F6FB;
    color: #313133;
    font-family: 'Rubik';
}

#contact h2 {
    font-size: 70px;
}

#contact form {
    padding-bottom: 50px;
    padding-top: 100px;
}

a:hover {
    color: #e34b4b;
}

nav a {
    color: #F6F6FB;
}

section a {
    color: #F6F6FB;
    padding: 23px;
}

footer a {
    color: #333;
}

.page-footer {
    padding-top: 23px;
    padding-bottom: 64px;
    background-color: #F6F6FB;
    color: #313133;
    font-family: 'Rubik';
}

.list-inline-item {
    color: #313133;
}

hr.hrbody {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
    margin-top: 100px;
}

footer hr {
    border: none;
    height: 3px;
    color: #333;
    background-color: #333;
}

.col {
    padding: 20px;
}

.pfoot {
    text-align: center;
    font-size: 20px;
}

.img-fluid {
    width: 100% !important;
    height:auto;
}

.row {
    padding: 25px;
    align-content: left;
    font-size: 16px;
}

.pfoot {
    text-align: center;
}
